*.buildinfo
*.cgi
*.changes
*.deb
*.ddeb
*.deps
*.dsc
*.la
.libs
*.lo
*.o
*.pc
*.rpm
*.spec
*.tar.gz
*.tar.xz
aclocal.m4
autom4te.cache/
build_debs.sh
changelog
compile
config.guess
config.log
config.status
config.sub
configure
control
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
moc_*
rc.webhost
src/tests/cgitest/cgitest_script
src/tests/cgitest/cgitest_server
src/tests/sockettest/sockettest_server
src/webhostd/webhostd
webhost.service
