*.cgi
*.deps
*.la
.libs
*.lo
*.o
*.pc
*.rpm
*.spec
*.tar.gz
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
moc_*
rc.webhost
src/tests/cgitest_script
src/tests/cgitest_server
src/tests/httpserver
src/webhostd/webhostd
webhost.service
